---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import githubImg from "../assets/github.png";
import linkedinImg from "../assets/linkedin.png";
import emailImg from "../assets/email.png";
---

<Layout title="Contact | Yuusuke's Portfolio">
  <div class="isolate bg-white dark:bg-zinc-950 px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2
        class="text-3xl font-bold tracking-tight text-zinc-900 dark:text-white sm:text-4xl"
      >
        Contact Me
      </h2>
      <p class="mt-2 text-lg leading-8 text-zinc-600 dark:text-zinc-300">
        Have a question or want to work together? Send me a message.
      </p>
    </div>
    <div class="flex justify-center gap-6 lg:mt-10 sm:mt-5">
      <div class="github">
        <a href="https://github.com/YUUSUKE18">
          <Image
            src={githubImg}
            alt="github"
            width={50}
            height={50}
            class="dark:invert"
          />
        </a>
      </div>
      <div class="linkedin">
        <a href="https://linkedin.com/in/yuusuke-okamoto-352828133">
          <Image
            src={linkedinImg}
            alt="linkedin"
            width={50}
            height={50}
            class="dark:invert"
          />
        </a>
      </div>
      <div class="email">
        <a href="mailto:yuusuke.job.1018@gmail.com">
          <Image
            src={emailImg}
            alt="email"
            width={50}
            height={50}
            class="dark:invert"
          />
        </a>
      </div>
    </div>
  </div>
</Layout>
